@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "custom";
  src: url("/fonts/Blinker-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "custom" !important;
  scroll-behavior: smooth !important;
  background-color: #111827 !important;
}

/*Customize react-responsive-modal style*/
.react-responsive-modal-modal {
  border-radius: 10px !important;
  background-color: #1b2431 !important;
  border: 1px solid rgba(255, 255, 255, 0.196);
}

.react-responsive-modal-closeButton {
  display: none !important;
}

/*Customize scroll style*/
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #838383;
  border-radius: 30px;
  border: 3px none #636060;
}
